@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --orangeGeneral: #E64C34;
    --whiteGeneral: #ffff;
    --blackGeneral: black;
    --blackText: #1e1d24;
    --grayText: #79787F;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #f1f1f1;
}

main {
    background-color: white;
}

.sectionBody {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
}

main,
.sectionSlider,
.containSlider,
.containButtonSlider,
.containWhyChoose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionSlider {
    margin-top: 30px;
    height: 750px;
    width: 100%;
    position: relative;
    background: url(../img/home-painter-slider-1.jpg) no-repeat center/cover;
}

.rowSlider {
    width: 90px;
}

.containSlider {
    text-align: center;
    position: relative;
    height: 600px;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.7);
}

.containButtonSlider {
    row-gap: 10px;
}

.titleH1Slider {
    font-weight: 500;
    font-size: 50px;
}

.titleH2Slider {
    padding: 20px 0;
    font-size: 20px;
}

.containButtonSlider {
    margin: 30px 0 10px;
}

.buttonOneSlider,
.buttonCallToAction,
.btn-services {
    height: 4rem;
    width: 20rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
.buttonOneSlider:hover{
    background-color: var(--whiteGeneral);
    color: var(--orangeGeneral);
    border: 4px solid var(--orangeGeneral);
}

.buttonOneSlider,
.btn-services {
    color: var(--whiteGeneral);
    background-color: var(--orangeGeneral);
}

.btn-services {
    height: 4rem;
    width: 15rem;
    margin-bottom: 70px;
    font-weight: 500;
}

.btn-services:hover {
    background-color: var(--whiteGeneral);
    color: var(--orangeGeneral);
    border: 4px solid var(--orangeGeneral);
}

.containGeneralCard,
.cardServices,
.sectionServices,
.containCallToAction {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rowZigzagServices {
    padding-bottom: 30px;
}

.imgServices {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: 7px solid var(--orangeGeneral);
}

.titleH2Services,
.titleAboutUs {
    padding: 15% 8px 5%;
    text-align: center;
    font-size: 40px;
    line-height: 3rem;
    font-weight: 500;
}

.textH2Services {
    padding: 0 26px 50px;
    font-size: 25px;
    color: var(--blackText);
}

.imgCardServiceOne,
.imgCardServiceTwo,
.imgCardServiceThree,
.imgCardServiceFour {
    height: 230px;
    width: 230px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    border: 7px solid var(--orangeGeneral);
    box-shadow: 0px 0px 15px -3px var(--orangeGeneral);
}

.imgCardServiceOne::before,
.imgCardServiceTwo::before,
.imgCardServiceThree::before,
.imgCardServiceFour::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-sizing: border-box;
}

.imgCardServiceOne::before {
    background-image: url(../img/services_interior.jpg);
}

.imgCardServiceTwo::before {
    background-image: url(../img/services_exterrior8.jpg);
}

.imgCardServiceThree::before {
    background-image: url(../img/services_comercial.jpg);
}

.imgCardServiceFour::before {
    background-image: url(../img/services_home.jpg);
}

.titleH3Services {
    color: var(--blackText);
    font-size: 30px;
    padding: 30px 0;
}

.textH3Services {
    text-align: left;
    padding: 0 25px 50px;
    color: var(--grayText);
    font-size: 20px;
}

.sectionAboutUs {
    margin: 40px 0;
}

.sectionWhyChoose {
    width: 100%;
    background-color: black;
    color: var(--whiteGeneral);
}

.ulWhyChoose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0 40px;
}

.listWhyChoose {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
}

.checkWhyChoose {
    font-size: 50px;
    color: var(--orangeGeneral);
}

.sectionCallToAction {
    background-color: var(--orangeGeneral);
    width: 100%;
}

.sectionCallToAction {
    height: 65vh;
    text-align: left;
    padding: 40px 30px;
    background: url(../img/pintando-pared.jpg) no-repeat bottom right/contain;
    background-color: var(--orangeGeneral);
}

.textOneCall {
    text-align: left;
    padding: 10px 0;
    font-size: 41px;
    line-height: 1.3em;
    color: var(--whiteGeneral);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);

}

.buttonCallToAction {
    height: 4rem;
    width: 20rem;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    margin: 30px 0 40px;
    color: var(--whiteGeneral);
    background-color: black;
}

.buttonCallToAction:hover {
    color: var(--blackText);
    background-color: var(--whiteGeneral);
}

.containAboutUs {
    padding: 20px;
}

.titleAboutUs {
    padding: 0 0 0;
    text-align: center;
    line-height: 1.344em;
    font-size: 40px;
}

.cardAboutUs .rowSlider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.rowZigzagAboutUs {
    width: 90px;
}

.textAboutUs {
    color: var(--blackText);
    text-align: center;
    line-height: 1.344em;
    font-size: 25px;
    padding-bottom: 60px;
}

.checkAboutUs {
    font-size: 80px;
    color: var(--orangeGeneral);
}

.titleH4AboutUs {
    font-size: 25px;
    padding: 10px 0;
    line-height: 1.344em;
}

.textH4AboutUs {
    padding: 10px 0;
    color: #79787F;
    font-size: 20px;
    line-height: 1.344em;
}

@media screen and (min-width: 768px) {

    .textH2Services {
        padding: 0 110px 50px;
    }

    .textH3Services {
        text-align: center;
        padding: 0px 118px 50px;
    }

    .titleH2Services {
        padding: 5% 8px;
    }

    .textAboutUs {
        padding: 0 50px 60px;
    }

    .containAboutUs {
        padding: 20px 60px;
    }

    .sectionCallToAction {
        height: 330px;
    }

    .textOneCall {
        text-align: center;
        padding: 10px 40px;
    }
    .titleH1Slider {
        padding: 0 21%;
    }

    .titleH2Slider {
        padding: 20px 28%;
    }
}


@media screen and (min-width: 1024px) {

    .sectionCallToAction {
        display: flex;
        height: 600px;
        justify-content: center;
        align-items: center;
    }

    .textH2Services {
        padding: 0 21% 93px;
    }

    .textH3Services {
        padding: 0px 7% 50px;
    }

    .containCardServices {
        display: flex;
    }

    .cardServices {
        width: 50%;
    }

    .imgCardServiceThree,
    .imgCardServiceFour {
        height: 280px;
        width: 280px;
    }

    .textOneCall {
        padding: 30px 171px;
    }

    .textAboutUs {
        padding: 0 19% 60px;
    }

    .sectionCallToAction {
        height: 450px;
    }

    .containAboutUs {
        padding: 20px 15px;
    }

    .containH4AboutUs {
        width: 33%;
        text-align: center;
        padding: 27px 17px;
        border-radius: 1rem;
        border: 1px solid #d9d9d9;
        box-shadow: 0px 0px 9px -5px var(--orangeGeneral);
    }

    .containG-H4 {
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }

}

@media screen and (min-width: 1440px) {
    .sectionSlider {
        height: 780px;
    }

    .titleH2Services {
        padding: 3% 8px;
        font-size: 50px;
    }

    .containAboutUs {
        padding: 20px 50px;
    }

    .containH4AboutUs {
        width: 27%;
    }

    .textAboutUs {
        padding: 0 27% 60px;
    }

    .containG-H4 {
        justify-content: space-evenly;
    }

    .textH3Services {
        padding: 0px 19% 50px;
    }
}