@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --orangeGeneral: #E64C34;
    --whiteGeneral: #ffff;
    --blackText: #1e1d24;
    --grayText: #79787f;
}

body {
    font-family: "Montserrat", sans-serif;
}

main {
    padding: 20% 0;
}

.rowSliderSer {
    height: auto;
    width: 70px;
    margin-bottom: 30px;
}

.sectionOneSer {
    height: 500px;
    padding: 15px;
    color: var(--whiteGeneral);
    background: url(../img/silder4.jpg) center / cover no-repeat;
}

.titleH1Ser {
    padding: 30px 0 0;
    font-size: 60px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.titleH2ser {
    font-style: italic;
    font-size: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.buttonOneSer {
    height: 4rem;
    width: 20rem;
    border: none;
    border-radius: 0.2rem;
    background-color: var(--orangeGeneral);
    color: var(--whiteGeneral);
    margin: 20px 0;
    font-weight: 500;
}

.textButtonsSer {
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.titleServis{
    font-weight: 500;
    padding: 15% 8px 5%;
    text-align: center;
    font-size: 32px;
    line-height: 3rem;
}

.rowZigzagSer{
    display: flex;
    margin: 0 auto;
    height: auto;
    width: 80px;
    padding-bottom: 20px;
}
.textServis{
    text-align: center;
    padding: 0 26px 50px;
    font-size: 25px;
    color: var(--blackText);
}

.containFatherCardSer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 15px 0;
}
.containCardSer{
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 0.8rem;
    padding: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.containImg{
    padding: 10px;
    width: 330px;
    height: auto;
}

.imgSer {
    height: auto;
    width: 100%;
    border-radius: 0.8rem 0.8rem 0 0;
    border: 1px solid rgb(221, 221, 221);
    cursor: pointer;
}

.containInfoSer{
    width: 100%;
    padding: 20px 10px;
}

.titleH2InfoSer{
    font-size: 25px;
    padding-bottom: 14px;
    color:var(--blackText);
    font-weight: 600;
}
.textH2Info{
    font-size: 20px;
    color:var(--blackText);
    font-weight: 300;
}

.TableForServcies {
    border-collapse: collapse;
    width: 100%;
    border-radius: 3rem;
}

.TableForServcies, .TableForServcies th, .TableForServcies td {
    border: 1px solid #898989;
    padding: 12px; 
    text-align: center;
}

.TableForServcies td:nth-child(1) {
    font-weight: 500;
    background-color: #d6d6d6; 
}

.TableForServcies td:nth-child(2) {
    background-color: white;
    width: 30%; 
    height: 50px; 
    line-height: 50px; 
}

.checkTableSer{
    font-size: 25px;
    color: var(--orangeGeneral);
}

.contianBtn-table{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.btn-services-table{
    height: 4rem;
    width: 15rem;
    margin: 30px 0;
    font-weight: 500;
    border: none;
    border-radius: 0.5rem;
    color: var(--whiteGeneral);
    background-color: var(--orangeGeneral);
    
}
.btn-services-table:hover {
    background-color: var(--whiteGeneral);
    color: var(--orangeGeneral);
    border: 4px solid var(--orangeGeneral);
}











